// Shairport Sync Configuration with AirPlay 2 support for PipeWire

general = {
    name = "{{DEVICE_NAME}}";
    interpolation = "soxr";
    output_backend = "pw";
    mdns_backend = "dns-sd";
    drift_tolerance_in_seconds = 0.002;
    ignore_volume_control = "no";
    volume_range_db = {{VOLUME_RANGE}};
    regtype = "_raop._tcp";
    playback_mode = "stereo";
    // Enable AirPlay 2
    airplay_device_id = "{{DEVICE_NAME}}"; // Using device name as device ID
    airplay_features = 0x5A7FFFF7;
    airplay_interfaces = ""; // Use all interfaces
};

pw = {
    application_name = "Shairport Sync";
};

sessioncontrol = {
    run_this_before_play_begins = "/usr/bin/logger -t shairport-sync 'Starting playback'";
    run_this_after_play_ends = "/usr/bin/logger -t shairport-sync 'Ending playback'";
    wait_for_completion = "no";
    allow_session_interruption = "yes";
    session_timeout = 120;
};

metadata = {
    enabled = "yes";
    include_cover_art = "yes";
    pipe_name = "/tmp/shairport-sync-metadata";
    pipe_timeout = 5000;
};

diagnostics = {
    log_verbosity = 1;
};
