// Shairport Sync Configuration with AirPlay 2 support

general = {
    name = "Cloudspeaker";
    interpolation = "auto"
    output_backend = "alsa";
    mdns_backend = "avahi";
    drift_tolerance_in_seconds = 0.002;
    ignore_volume_control = "no";
    volume_range_db = {{VOLUME_RANGE}};
    regtype = "_airplay._tcp";
    playback_mode = "stereo";
    // Enable AirPlay 2
    airplay_device_id = "Cloudspeaker"; // Using device name as device ID

};

alsa = {
    output_device = "default";
};

sessioncontrol = {
    session_timeout = 120;
};

metadata = {
    enabled = "no";
    include_cover_art = "yes";
    pipe_name = "/tmp/shairport-sync-metadata";
    pipe_timeout = 5000;
};

diagnostics = {
    log_verbosity = 1;
};
