[Unit]
Description=Bluetooth Auto-Connect Service
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStart=/bin/bash -c "sleep 10 && bluetoothctl -- power on && bluetoothctl -- discoverable on && bluetoothctl -- pairable on"
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
