[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=network.target sound.target
After=network.target sound.target

[Service]
Type=simple
User={{USERNAME}}
Group=audio

ExecStart=/usr/local/bin/librespot --name "{{DEVICE_NAME}}" --backend alsa --device default --bitrate {{BITRATE}} --disable-audio-cache --initial-volume {{VOLUME}} --format S32 --rate {{HZ}}
Restart=on-failure
RestartSec=4

[Install]
WantedBy=default.target
