[Unit]
Description=Spotify Connect via librespot
After=network.target sound.target
Wants=sound.target

[Service]
Type=simple
Environment=XDG_RUNTIME_DIR="/run/user/1000"
ExecStart=/usr/local/bin/librespot --name "{{DEVICE_NAME}}" --backend pulseaudio --device default
Restart=on-failure
RestartSec=4
User=dietpi
Group=audio

[Install]
WantedBy=multi-user.target
