[Service]
User=$TARGET_USER
Environment=PULSE_SERVER=unix:/run/user/$(id -u $TARGET_USER)/pulse/native
ExecStart=
ExecStart=/usr/bin/snapclient --player pulse --soundcard default --sampleformat {{HZ}}:{{BITS}}:{{CHANNELS}}
Restart=on-failure
RestartSec=4
