[Service]
CPUAccounting=yes

# allow real-time threads
CPUSchedulingPolicy=rr
CPUSchedulingPriority=9
LimitRTPRIO=infinity

# optional: raise I/O priority to prevent SD-card stalls
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# run as dietpi:audio
User=dietpi
Group=audio

# clear inherited ExecStart
ExecStart=
ExecStart=/usr/bin/snapclient --player alsa:device=default,format=S32_LE --disable-audio-cache --initial-volume {{INITIAL_VOLUME}}
Restart=on-failure
RestartSec=4
