[Service]
CPUAccounting=yes
CPUSchedulingPolicy=rr
CPUSchedulingPriority=9
LimitRTPRIO=infinity
User=dietpi
Group=audio
ExecStart=
ExecStart=/usr/bin/snapclient --player alsa --sampleformat {{HZ}}:{{BITRATE}}:{{CHANNELS}} --disable-audio-cache --initial-volume {{VOLUME}}"
Restart=on-failure
RestartSec=4
