context.properties = {
    default.clock.rate            = {{HZ}}   # Sample rate in Hz
    default.clock.quantum         = 1024    # buffer size (frames)
    default.clock.min-quantum     = 1024
    default.clock.max-quantum     = 1024
    default.audio.format          = "S{{BITS}}LE"
    default.audio.channels        = {{CHANNELS}}
}
